/*GREY BACKGROUND*/
body {
  background-color: #efefef;
  background-size: cover;
}

/*NAV BAR*/
.navbar-default {
  background-color: #003575;
}

/*CONTENT PAGE*/
.content {
  margin-top: 30px;
  padding: 10px;
}

/*TEXT*/
.uppercase {
  text-transform: uppercase;
}

.upperbold {
  text-transform: uppercase;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h1 {
  margin-top: 6%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 42px;
}

/* ASSETS */

.yellow-sq {
  background-color: #ffb300;
  border-radius: 40px;
  width: 450px;
  height: 18px;
  margin: -1.5rem auto;
  z-index: -1;
}

.yellow-sq-small {
  background-color: #ffb300;
  border-radius: 40px;
  width: 85%;
  height: 4px;
  margin-top: -0.3rem;
  z-index: -1;
}

.blue-sq-small {
  background-color: #003575;
  margin: 0.3rem 0 0.5rem 0;
  border-radius: 40px;
  width: 85%;
  height: 6.5px;
}

/* POSTS */
.post-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.image-container {
  position: relative;
  margin: 2rem 1rem;
  width: 400px;
  height: 300px;
  align-self: center;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.image-container:active {
  transform: translateX(3px) translateY(4px);
  box-shadow: none;
}

.image-container img {
  max-height: 100%;
  align-self: center;
  border-radius: 1rem;
}

.image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  display: block;
  background: rgba(0, 53, 117, 0.7);
  border-radius: 1rem;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
}

.empty-post {
  margin: 2rem 1rem;
  width: 400px;
  height: 0;
}

/* MODAL */
.hide {
  display: none;
}

.animate-zoom {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.modal {
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  margin: auto;
  border-radius: 1rem;
  background-color: #ffb300;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 1rem;
  outline: 0;
  width: 85%;
}

.modal-header {
  display: flex;
  flex: 2;
  border: none;
}

.modal-header img {
  flex: 4;
  width: 30%;
  border-radius: 1rem;
  margin: 0 1.5rem 0 0;
}

.modal-header-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Lato;
}

.modal-header-detail-wrapper {
  display: flex;
  align-items: center;
}

.blue-sq-small+.modal-header-detail-wrapper {
  margin-top: 1rem;
}

.modal-header-detail-wrapper .icons {
  width: 2.4rem;
  margin-right: 1rem;
  text-align: center;
  vertical-align: top;
  font-size: 1.8rem;
}

.modal-header-detail-wrapper .details {
  flex: 1;
  align-self: flex-start;
}

.modal-header-detail-wrapper .icons>.fas,
.modal-header-detail-wrapper .details>.bold {
  vertical-align: top;
  margin-bottom: 0;
}

.modal-body {
  flex: 3;
}

.modal-body>p {
  text-align: justify;
  color: #003575;
  text-indent: 3rem;
  line-height: 1.15;
}

.modal-footer {
  padding: 0;
  border: none;
}

.modal-button-igna {
  background-color: #df9d04;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.modal-button-igna:active {
  transform: translateX(3px) translateY(4px);
  box-shadow: none;
}

/*IF MEDIA < 400 FOR FLEX */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  .post-row {
    margin-top: 5px;
  }

  .image-container {
    width: 240px;
    height: 180px;
  }

  div.yellow-sq {
    background-color: #efefef;
    width: 0px;
  }

  footer {
    padding: 4%;
  }
}