body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body,
html {
  height: 100%;
}

/*CONTENT*/
.container {
  margin: auto;
  margin-top: 12.5%;
}

.home-title {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #FFB300;
}

h1.home-title {
  font-size: 52px;
}

h2.home-title {
  font-size: 42px;
}


.paragraph-button {
  padding-left: 15%;
}

p {
  text-indent: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
  text-align: justify;

  color: #FFFFFF;
}

.white-line {
  margin: 2rem auto;
  width: 65%;
  height: 4px;
  background-color: white;
}

.btn {
  width: 300px;
  padding: 10px 10px;
  background-color: #FFB300;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px #999;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.4rem;
  text-align: center;

  color: #FFFFFF;
}

.btn:hover {
  background-color: #003575
}

.btn:active {
  background-color: #003575;
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}

@media only screen and (max-width: 600px) {
  h2.home-title {
    font-size: 44px;
  }

  h1.home-title {
    font-size: 40px;
  }

  .white-line {
    margin-left: 0px;
  }

  .paragraph-button {
    padding: 2%;
  }
}