<footer>
  <div class="footer-title">
    <h2><b>SinarPerak</b></h2>
    <h5 class="uppercase">Hak Cipta &copy; 2018</h5>
  </div>
  <div class="footer-desc">
    <h3 class="upperbold">PPW-A Team 4</h3>
    <div class="footer-list">
      <a>Muhamad Abdurahman</a>
      <a>Ignatius Bagussuputra</a>
      <a>Revan Ragha Andhito</a>
      <a>Rd Pradipta Gitaya Samiadji</a>
    </div>
  </div>
</footer>