{% load static %}
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon
================================================== -->
<link rel="shortcut icon" href="https://image.ibb.co/nND3O0/Logo-Sinar-Perak-A4-01.png" />

<!-- Font Links
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">

<!-- CSS Links
================================================== -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">

<!-- JS Libraries
================================================== -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>