{% load static from staticfiles %}
<!DOCTYPE html>

<head>
  <title>Halaman Tidak Ditemukan</title>
  {% include 'import.html' %}
  <link rel="stylesheet" href="{% static 'crowdfunding/css/homepage.css' %}">
  <style>
    body {
      background-image: url("{% static 'crowdfunding/images/background-1.jpg' %}");
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
    <h2 class="home-title">Halaman Tidak Ditemukan!</h1>
      <h5 class="home-title text-warning">Mohon periksa kembali alamat yang Anda ketikkan pada browser
    </h2>
    <button type="button" class="btn float-right" onclick="location.href='/'">HALAMAN AWAL</button>
  </div>
</body>