{% load static from staticfiles %}
<!DOCTYPE html>

<head>
  <title>Halaman Tidak Ditemukan</title>
  {% include 'import.html' %}
  <link rel="stylesheet" href="{% static 'crowdfunding/css/homepage.css' %}">
  <style>
    body {
      background-image: url("{% static 'crowdfunding/images/background-1.jpg' %}");
    }
  </style>
</head>

<body>
  <nav class="navbar-default flex-container">
    <a class="nav-link nav-title active" href="/">SinarPerak</a>
  </nav>
  <br>
  <div class="container">
    <h2 class="home-title">Terjadi Galat!</h1>
      <h5 class="home-title text-warning">Terjadi Galat pada Server, Silakan coba kembali beberapa saat lagi
    </h2>
    <button type="button" class="btn float-right" onclick="location.href='/'">HALAMAN AWAL</button>
  </div>
</body>